event-list

<h3>Current event</h3>

{{liquid-outlet}}

<hr>
<ul>
  {{#each model as |event index|}}
    <li> {{#link-to 'event-list.event' event.id }} {{event.name}} {{/link-to}} </li>
  {{else}}
    <li>No events found</li>
  {{/each}}
</ul>

